.he-wi {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.dropdown-menu-end {
    border: 3px solid #66cc99;
    background: linear-gradient(135deg, 
    #66cc99 0%,   
    #5fc8a4 20%,  
    #59c3af 40%, 
    #53bfba 60%, 
    #4cbacc 80%, 
    #46b4df 100%);
    font-style: oblique;
    font-family: fangsong;
    font-size: 1.2rem;
}

.bor-nvm {
    border-radius: 10px;
}

.custom-navbar {
    padding: 0.5rem 1rem; 
}

.custom-navbar .nav-link {
    padding: 0.5rem 1rem;
}

.custom-navbar .navbar-text {
    padding: 0; 
}

.bg-nvm {
    background: linear-gradient(360deg, 
    #66cc99 0%,   
    #5fc8a4 20%,  
    #59c3af 40%, 
    #53bfba 60%, 
    #4cbacc 80%, 
    #46b4df 100%);
}
  
.ul-nvm {
    font-style: oblique;
    font-family: fangsong;
    font-size: 1.3rem;
    font-weight: 600;
}

.button-nvm-po {
    border: 0.2px solid #007bff;
    border-radius: 20px !important;
    background-color: #e1edf3;
    color: rgb(5, 4, 4); 
    font-style: oblique;
    font-family: fangsong;
    font-size: 1rem;
    font-weight: 600;
}

.button-nvm-po:hover {
    border: 0.2px solid #7d8386 !important; 
    background-color: #7d8386 !important; 
    color: white; 
}

.modal-search {
    font-style: oblique !important;
    font-family: fangsong !important;
    font-size: 1.3rem !important;
    font-weight: 600 !important;
}

.br-search {
    border-radius: 20px;
}

.button-nvm-po {
    border: 0.2px solid #007bff;
    border-radius: 20px !important;
    background-color: #e1edf3;
    color: rgb(5, 4, 4); 
}

.button-nvm-po:hover {
    transform: scale(1.05);
    border: 2px solid #7d8386 !important; 
    background-color: #7d8386 !important; 
    color: white; 
}